.row
  .col-md-12
    %h1 Contacts

    = render :partial => "contacts/new_contact_bnt"

    .row
      - @contacts.each do |contact|
        .col-md-3
          .card.small-card
            .img
              %img{:src => contact.photo.thumb_50, :class => "img-circle"}

            .content
              - if contact.name?
                %b
                  Name
                .text.ellipsis
                  =contact.name
                .clearfix
              - if contact.email?
                %b
                  Email
                .text.ellipsis
                  =contact.email
                .clearfix
              - if contact.phone
                .text.ellipsis
                  %b
                    Phone
                  =contact.phone
                .clearfix

            .actions
              .action
                = link_to contact_path(contact), {:class => "btn btn-default btn-sm show", :title => "Show"} do
                  %span.glyphicon.glyphicon-eye-open{:aria-hidden => "true"}
              .action
                = link_to edit_contact_path(contact), {:class => "btn btn-default btn-sm edit", :title => "Edit"} do
                  %span.glyphicon.glyphicon-pencil{:aria-hidden => "true"}
              .action
                = link_to contact_path(contact), {:class => "btn btn-default btn-sm remove", :title => "Remove", :method => 'delete'} do
                  %span.glyphicon.glyphicon-trash{:aria-hidden => "true"}

    - if !@contacts.blank?
      = render :partial => "contacts/new_contact_bnt"
