= content_for(:title, "Contact view")

.row
  .col-md-6.col-md-offset-3
    .row
      .col-md-12
        %h1 Contact view
    .row.card.big
      .col-md-6.img
        %img{:src => @contact.photo.thumb_200, :class => 'img-circle'}
      .col-md-6.content
        %p
          %strong Name:
          %span #{@contact.name}
        %p
          %strong Phone:
          %span #{@contact.phone}
        %p
          %strong Email:
          %span #{@contact.email}

        .row.actions-line
          .col-md-12
            = link_to contacts_path(:page => params["page"], :search => params["search"]), {:class => "btn btn-default", :title => "Back"} do
              %span.glyphicon.glyphicon-menu-left{:aria-hidden => "true"}
              Back
            &nbsp;
            = link_to edit_contact_path(@contact, :page => params["page"], :search => params["search"]), {:class => "btn btn-success", :title => "Edit"} do
              %span.glyphicon.glyphicon-pencil{:aria-hidden => "true"}
              Edit